{% extends 'base.html.twig' %}

{% block title %}Register !{% endblock %}

{% block body %}
    <section class="login-block">
        <div class="container">
            <div class="row">
                <div class="col-md-4 login-sec">
                    <h2 class="text-center">Register</h2>
                    <form class="login-form" method="post">

                        <div class="form-group">
                            <label for="inputNom" class="text-uppercase">Nom</label>
                            <input type="text" name="nom" id="inputNom" class="form-control" placeholder="Entrer le nom" required autofocus>
                        </div>

                        <div class="form-group">
                            <label for="inputPrenom" class="sr-only">Prenom</label>
                            <input type="text" name="prenom" id="inputPrenom" class="form-control" placeholder="Entrer le prenom" required autofocus>
                        </div>

                        <div  class="form-group">
                            <label for="inputSexe" class="sr-only">Sexe</label>
                            <input type="text" name="sexe" id="inputSexe" class="form-control" placeholder="Entrer le sexe" required autofocus>
                        </div>

                        <div  class="form-group">
                            <label for="inputDateNaiss" class="sr-only">Date de naissance</label>
                            <input type="date" name="date_naissance" id="inputDate" class="form-control" placeholder="Entrer la Date de naissance" required autofocus>
                        </div>

                        <div  class="form-group">
                            <label for="inputEmail" class="sr-only">Email</label>
                            <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Entrer l'Email" required autofocus>
                        </div>

                        <div  class="form-group">
                            <label for="inputPassword" class="sr-only">Password</label>
                            <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
                        </div>

                        <div  class="form-group">
                            <label for="inputDateInsc" class="sr-only">Date d'inscription'</label>
                            <input type="date" name="date_inscription" id="inputDateInsc" class="form-control" placeholder="Entrer la Date d'inscription" required autofocus>
                        </div>

                        <div  class="form-group">
                            <label for="inputAdresse" class="sr-only">Adresse</label>
                            <input type="text" name="adresse" id="inputAdresse" class="form-control" placeholder="Entrer l'adresse" required autofocus>
                        </div>

                        <div  class="form-group">
                            <label for="inputTel" class="sr-only">Telephone</label>
                            <input type="number" name="tel" id="inputTel" class="form-control" placeholder="Entrer le numéro de telephone" required autofocus>
                        </div>

                            <label for="inputPermis" class="sr-only">Permis</label>
                            <!-- Default unchecked -->
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="defaultUnchecked1" name="permisA">
                                <label class="custom-control-label" for="defaultUnchecked1">Permis A</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="defaultUnchecked2" name="permisB">
                                <label class="custom-control-label" for="defaultUnchecked2">Permis B</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="defaultUnchecked3" name="permisC">
                                <label class="custom-control-label" for="defaultUnchecked3">Permis C</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="defaultUnchecked4" name="permisE">
                                <label class="custom-control-label" for="defaultUnchecked4">Permis E</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="defaultUnchecked5" name="permisG">
                                <label class="custom-control-label" for="defaultUnchecked5">Permis G</label>
                            </div>

                            <button class="btn btn-lg btn-primary" type="submit">
                                Register
                            </button>
                    </form>
                </div>
                <div class="copy-text"><a href="{{ path('home') }}">Retour à la page d'acceuil <i class="fa fa-home"></i></a></div>
            </div>
            <div class="copy-text"><a href="{{ path('home') }}">Retour à la page d'acceuil <i class="fa fa-home"></i></a></div>
        </div>
    </section>
{% endblock %}