{% extends 'base.html.twig' %}

{% block title %}Reset Password !{% endblock %}

{% block body %}
{#    {% include 'nav_bar_anonyme.html.twig' %}#}
{#    {% include 'header_ano.html.twig'  %}#}

    <form method="post">

        <h1 class="h3 mb-3 font-weight-normal text-center">Reset Password</h1>
        <label for="inputPassword" class="sr-only text-center">Password</label>
        <input type="password" name="password" id="inputPassword" class="form-control text-center" placeholder="Password" required>
        <input type="hidden" name="token" value="{{ token }}" class="text-center">

        <div class="form-control">
            <button class="btn btn-lg btn-primary" type="submit" style="margin-left: 45.5%;">Register</button>
        </div>
    </form>
{% endblock %}