{% extends 'base.html.twig' %}

{% block title %}Welcome to MYCAAG!{% endblock %}

{% block head %}

{% endblock %}

{% block body %}

    <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>

    <section class="listings" id="listings">
        <div class="container">
            <div class="row">
                <div class="col-md-3" style="z-index: 1;">
                    <div class="row mb-3">
                        <div class="col-md-12">
                            <div class="card bg-warning" id="bg-warning">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h3 class="titre">Trouvez un véhicule de location</h3>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
{#                                            <form action="form_index" method="post" onsubmit="return date_validation();">#}
                                            <form action="form_index" method="post">
                                                <div class="form-group">
                                                    <label class="custom-select-sm text-uppercase text-res">Lieu</label>
                                                    <select class="custom-select-sm form-control" name="id_agence" id="select1" required autofocus>
                                                        <option selected value="" style="text-align: center">-- Selectionnez un lieu --</option>
                                                        {% for agence in tab_agences %}
                                                            <option value="{{ agence.id }}">
                                                                {{ agence.ville|capitalize }}
                                                            </option>
                                                        {% endfor %}
                                                    </select>
                                                </div>

                                                <div>
                                                    <label class="custom-select-sm text-uppercase text-res" for="date-picker-example">Depart</label>
                                                    <div class="form-group" id="memeLigne">
                                                        <input placeholder="Select date" type="text" class="custom-select-sm form-control datepicker1" id="date1" name="date1" data-language='fr' />
{#                                                        <input type="hidden" id="date1" name="date1">#}
                                                        <input placeholder="Select time" id="timepicker1" type="text" class="custom-select-sm form-control timepicker1" name="usr_time1"  data-language='fr' />
                                                    </div>
                                                </div>

                                                <div>
                                                    <label class="custom-select-sm text-uppercase text-res" for="date-picker-example">Retour</label>
                                                    <div class="form-group" id="memeLigne">
                                                        <input placeholder="Select date" type="text" class="custom-select-sm form-control datepicker2" id="date2" name="date2" />
{#                                                        <input type="hidden" id="date2" name="date2">#}
                                                        <input placeholder="Select time" id="timepicker2" type="text" class="custom-select-sm form-control timepicker2" name="usr_time2"  data-language='fr' />
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="custom-select-sm text-uppercase text-res">Type de vehicule</label>
                                                    <select class="custom-select-sm form-control" name="id_cat" id="select2">
                                                        <option selected value="">Tous</option>
                                                        {% for categorie in tab_cat %}
                                                            <option value="{{ categorie.id }}">
                                                                {{ categorie.typeCat|capitalize }}
                                                            </option>
                                                        {% endfor %}
                                                    </select>
                                                </div>

                                                <hr style="margin-top: 5%">
                                                <div class="pb-3" style="margin-top: -5%">
                                                    <button type="btn" class="btn btn-primary button" style="background: #FF6F00 !important; width: 40%"><span class="text-center">Trouver</span></button>
                                                    <button type="btn" class="btn btn-primary button" style="background: #FF6F00 !important; width: 40%" id="btn-reset">Effacer</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{#    <section></section>#}

    <script>

        $(document).ready(function () {

            var today = new Date(new Date().getFullYear(), new Date().getMonth(), new Date().getDate());

            $(".datepicker1").datepicker({
                format: 'dd mmm yyyy',
                minDate: today,
                maxDate: function () {
                return $('.datepicker2').val();
                },
                numberOfMonths: 1,
            });

            $(".datepicker2").datepicker({
                format: 'dd mmm yyyy',
                minDate: function () {
                    if ($('.datepicker1').val()){
                        return $('.datepicker1').val();
                    }
                    else {
                        return today;
                    }
                },
            });

            $('.timepicker1').timepicker();

            $('.timepicker2').timepicker();

            console.log( document.getElementById("date1"));

        });
        // function date_validation(){
        //
        //    const date1 = document.getElementById("date1").value;
        //    const date2 = document.getElementById("date2").value;
        //     console.log(date1);
        //     console.log(date2);
        //
        //     if( new Date(date2) < new Date(date1)){
        //
        //         alert("gogole");
        //         return false;
        //
        //     }else{
        //         alert('true');
        //         return false;
        //     }
        //
        // }
    </script>
    {% include 'caroussel1.html.twig' %}
{#{% include 'bandeau_promos.html.twig' %}#}
{#    {% include 'caroussel2.html.twig' %}#}
{#{% include 'caroussel3.html.twig' %}#}

{% endblock %}


