@import url('https://fonts.googleapis.com/css?family=Gilda+Display|Julius+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Martel&display=swap');

#container-fluid {
    position: relative;
    left: 0%;
    bottom: -20% !important;
    width: 100% !important;
    /*background-color: #3a3a3a;*/
    background-color: #000000 !important;
    color: white !important;
    /*text-align: center;*/
}

#social-network{
    color: white !important;
}
.fa-facebook-f:hover{
    color: #2d35ff;
}
.fa-twitter:hover{
    color:deepskyblue;
}
.fa-google-plus-g:hover{
    color:red;
}
.fa-linkedin-in:hover{
    color:dodgerblue;
}
.fa-instagram:hover{
    color:orangered;
}

.font-fam{
    /*font-family: 'Gilda Display', serif;*/
    font-family: 'Martel', serif !important;
    font-size: 12px !important;
    color: dimgray !important;
}

#font-fam{
    font-family: 'Julius Sans One', sans-serif !important;
    font-size: 13px !important;
}

.mb-0{
    font-family: 'Martel', serif !important;
    font-size: 14px !important;
    font-weight: bold !important;
    color: black !important;
}

.mr-3{
    color: white !important;
}

.link{
    /*color: #e0a800;*/
    color: dimgray !important;
    font-size: 12px !important;
    line-height: 20px !important;
}

.link:hover{
    color: #e0a800 !important;
    /*color: #dddddd;*/
    text-decoration: none;
}

#plan{
    background-color: gray !important;
    text-align: center !important;
    width: 100% !important;
}