{% extends 'base.html.twig' %}

{% block title %}New Reservation{% endblock %}

{% block body %}
    <h1>Sauvegarde de la reservation</h1>

    {% if 'radio1' == true %}
        <p><a href="">payer acompte</a></p>
    {% elseif 'radio2' == true %}
{#    {% if  %}#}
        <p><a href="">payer la totalité de la somme dûe</a></p>
    {% endif %}

{#    {{ include('reservation/_form.html.twig') }}#}

{#    <a href="{{ path('reservation_index') }}">back to list</a>#}
{% endblock %}
