<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}
            <div id="plan1" class="col-md-8 col-lg-6 col-xl-12 mx-auto mb-md-0 mb-10">
                <h3 id="texte1" class="sonar-wave"> Promos et Actus</h3>
            </div>
        {% endblock %}
        {% block javascripts %}{% endblock %}

    </body>
</html>
